Repository papa-yus-recipes/papayus-public: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --noEmit

refactor(Models/definitions): rename to helpers & add validation helpers
  server/Models/Recipe.ts
  server/Models/Review.ts
  server/Models/SavedRecipe.ts
  server/Models/User.ts
  server/Models/helpers.ts
Due: eslint --fix, tsc-files --noEmit

feat(Models/User): add bcrypt encryption
  .env.example
  package.json
  server/Models/User.ts
  server/configs/bcrypt.config.ts
  server/configs/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, tsc-files --noEmit

feat+refactor(db): add queries; move Models under db/Models; decouple Models & types
  server/Models/Recipe.ts
  server/Models/Review.ts
  server/Models/SavedRecipe.ts
  server/Models/helpers.ts
  server/Models/index.ts
  server/db/Models/Recipe.ts
  server/db/Models/Recipe.types.d.ts
  server/db/Models/Review.ts
  server/db/Models/Review.types.d.ts
  server/db/Models/SavedRecipe.ts
  server/db/Models/SavedRecipe.types.d.ts
  server/db/Models/Tag.ts
  server/db/Models/Tag.types.d.ts
  server/db/Models/User.ts
  server/db/Models/User.types.d.ts
  server/db/Models/helpers.ts
  server/db/Models/index.ts
  server/db/Models/types.d.ts
  server/db/index.ts
  server/db/recipe.db.ts
  server/db/review.db.ts
  server/db/saved-recipe.db.ts
  server/db/tag.db.ts
  server/db/user.db.ts
Due: eslint --fix, tsc-files --noEmit

refactor(types): move "IModel & Document" types into type files & fix RecipeKey type
  server/db/Models/Recipe.ts
  server/db/Models/Recipe.types.d.ts
  server/db/Models/Review.ts
  server/db/Models/Review.types.d.ts
  server/db/Models/SavedRecipe.ts
  server/db/Models/SavedRecipe.types.d.ts
  server/db/Models/Tag.ts
  server/db/Models/Tag.types.d.ts
  server/db/Models/User.ts
  server/db/Models/User.types.d.ts
  server/db/Models/types.d.ts
  server/db/recipe.db.ts
Due: eslint --fix, tsc-files --noEmit

feat(react): react hello world
  .eslintrc.json
  .gitignore
  .prettierignore
  client/Components/TopBar.css
  client/Components/TopBar.tsx
  client/index.ts
  client/index.tsx
  client/nodemon.json
  client/tsconfig.json
  nodemon.json
  package.json
  public/index.html
  public/styles.css
  server/tsconfig.json
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, tsc-files --noEmit

feat(Components): add TopBar
  .eslintignore
  client/Components/BsIcon.tsx
  client/Components/TopBar.css
  client/Components/TopBar.tsx
  client/Components/TopBar/Link.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/index.tsx
  client/Components/TopBar/styles.css
  client/Components/types.d.ts
  client/index.tsx
  client/nodemon.json
  public/index.html
  public/styles.css
Due: prettier --write, eslint --fix, tsc-files --noEmit

build(nodemon): add public directory and css & html extensions to client config
  client/Components/TopBar/Logo.css
  client/Components/TopBar/Logo.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User.css
  client/Components/TopBar/User.tsx
  client/Components/TopBar/index.tsx
  client/Components/TopBar/styles.css
  client/helpers.tsx
  client/nodemon.json
Due: prettier --write

refactor(bsicon): add size prop
  client/Components/BsIcon.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User.tsx
Due: none

fix(user): correct sizing
  client/Components/BsIcon.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User.css
  client/Components/TopBar/User.tsx
  client/Components/TopBar/styles.css
Due: none

feat(User): add bookmarks toggle
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User.css
  client/Components/TopBar/User.tsx
Due: none

refactor(TopBar): nest global classes div into component
  client/Components/TopBar/index.tsx
  public/index.html
Due: none

refactor(Components): decouple types
  client/Components/BsIcon.tsx
  client/Components/BsIcon.types.d.ts
  client/Components/TopBar/Link.tsx
  client/Components/TopBar/Link.types.d.ts
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/SearchBar.types.d.ts
  client/Components/TopBar/User.tsx
  client/Components/TopBar/User.types.d.ts
Due: eslint --fix, tsc-files --noEmit

feat(server): add recipes router, catchNext helper, & default error handling
  server/NextError.ts
  server/connections/server.ts
  server/db/recipe.db.ts
  server/db/recipe.types.d.ts
  server/routers/api.router.ts
  server/routers/helpers.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/routers/types.d.ts
  server/validation/index.ts
  server/validation/recipes.validation.ts
  server/validation/type.d.ts
Due: eslint --fix, tsc-files --noEmit

feat: add recipe page
  client/Components/Content.css
  client/Components/Content.tsx
  client/Components/Content.types.d.ts
  client/Components/H1.tsx
  client/Components/H1.types.d.ts
  client/Components/Section.tsx
  client/Components/Section.types.d.ts
  client/Components/TopBar/Link.types.d.ts
  client/Components/TopBar/User.tsx
  client/Components/types.d.ts
  client/common.tsx
  client/helpers.ts
  client/nodemon.json
  client/pages/index.tsx
  client/pages/recipe.css
  client/pages/recipe.tsx
  client/requests/helpers.ts
  client/requests/recipes.requests.ts
  client/requests/recipes.types.d.ts
  client/requests/tags.types.d.ts
  client/requests/types.d.ts
  client/tsconfig.json
  public/recipe.html
  server/db/Models/Recipe.types.d.ts
  tsconfig.json
  webpack.config.ts
Due: prettier --write, eslint --fix, tsc-files --noEmit

chore(TopBar Component): rename styles.css to index.css
  client/Components/TopBar/index.css
  client/Components/TopBar/index.tsx
Due: none

refactor(search.html): add helper for search query parsing
  client/Components/TopBar/SearchBar.tsx
  client/helpers.ts
  client/types.d.ts
Due: eslint --fix, tsc-files --noEmit

feat(client): add Tag
  client/Components/Tag.css
  client/Components/Tag.tsx
  client/Components/Tag.types.d.ts
  client/pages/recipe.tsx
  client/requests/recipes.requests.ts
  client/requests/recipes.types.d.ts
  client/requests/tags.types.d.ts
  client/requests/types.d.ts
Due: eslint --fix, tsc-files --noEmit

build(lint-staged): include css, html, & tsx files
  package.json
Due: prettier --write

fix(.env): change ADDRESS to HOSTNAME to match server config
  .env.example
Due: none

build(dynamoose): upgrade to v3.0.0
  .env.example
  package.json
  server/configs/aws.config/dynamodb.config.ts
  server/configs/aws.config/index.ts
  server/configs/index.ts
  server/db/Models/Recipe.ts
  server/db/Models/Recipe.types.d.ts
  server/db/Models/Review.ts
  server/db/Models/Review.types.d.ts
  server/db/Models/SavedRecipe.ts
  server/db/Models/SavedRecipe.types.d.ts
  server/db/Models/Tag.ts
  server/db/Models/Tag.types.d.ts
  server/db/Models/User.ts
  server/db/Models/User.types.d.ts
  server/db/Models/types.d.ts
  server/db/recipe.db.ts
  server/db/review.db.ts
  server/db/saved-recipe.db.ts
  server/db/user.db.ts
  yarn.lock
Due: prettier --write, eslint --fix, tsc-files --noEmit

feat+refactor(Tag Component): add category to color & move mass rendering into component file
  client/Components/Tag.css
  client/Components/Tag.tsx
  client/pages/recipe.tsx
Due: none

refactor(recipes route): de-nest getRecipe callback & unpack validation variables at parameter level
  server/routers/recipes.router.ts
  server/validation/recipes.validation.ts
Due: eslint --fix, tsc-files --noEmit

feat(recipes route): add /scan route
  client/helpers.ts
  server/connections/index.ts
  server/db/helpers.ts
  server/db/recipe.db.ts
  server/db/recipe.types.d.ts
  server/db/types.d.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/routers/types.d.ts
  server/validation/recipes.validation.ts
  server/validation/type.d.ts
Due: eslint --fix, tsc-files --noEmit

refactor(types): clean up Model types
  server/db/Models/Recipe.ts
  server/db/Models/Recipe.types.d.ts
  server/db/Models/Review.types.d.ts
  server/db/Models/SavedRecipe.types.d.ts
  server/db/Models/Tag.types.d.ts
  server/db/Models/User.types.d.ts
  server/db/Models/types.d.ts
  server/db/helpers.ts
  server/db/recipe.db.ts
  server/db/recipe.types.d.ts
  server/db/review.db.ts
  server/db/saved-recipe.db.ts
  server/db/tag.db.ts
  server/db/types.d.ts
  server/db/user.db.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/validation/recipes.validation.ts
  server/validation/type.d.ts
Due: eslint --fix, tsc-files --noEmit

feat: add search page
  client/Components/BsIcon.types.d.ts
  client/Components/RecipeCard.tsx
  client/Components/RecipeCard.types.d.ts
  client/Components/RecipeCollection.css
  client/Components/RecipeCollection.tsx
  client/Components/RecipeCollection.types.d.ts
  client/Components/RecipeLink.tsx
  client/Components/RecipeLink.types.d.ts
  client/Components/Tag.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User.css
  client/Components/TopBar/User.tsx
  client/Components/types.d.ts
  client/helpers.ts
  client/pages/recipe.tsx
  client/pages/search.tsx
  client/requests/recipes.requests.ts
  client/requests/recipes.types.d.ts
  client/requests/tags.types.d.ts
  client/requests/types.d.ts
  client/types.d.ts
  public/search.html
  webpack.config.ts
Due: eslint --fix, tsc-files --noEmit

feat(RecipeCard): add wordToColor border color
  client/Components/RecipeCard.tsx
  client/Components/RecipeCollection.css
  client/Components/Tag.tsx
  client/helpers.ts
Due: eslint --fix, tsc-files --noEmit

refactor(RecipeCollection): move related Components into dedicated directory
  client/Components/RecipeCollection/Card.tsx
  client/Components/RecipeCollection/Card.types.d.ts
  client/Components/RecipeCollection/Link.tsx
  client/Components/RecipeCollection/Link.types.d.ts
  client/Components/RecipeCollection/index.css
  client/Components/RecipeCollection/index.tsx
  client/Components/RecipeCollection/index.types.d.ts
Due: eslint --fix, tsc-files --noEmit

feat(Components): add LogReg Login modal
  client/Components/BsIcon.types.d.ts
  client/Components/Content.types.d.ts
  client/Components/ModalForm/Column.tsx
  client/Components/ModalForm/Column.types.d.ts
  client/Components/ModalForm/Input.tsx
  client/Components/ModalForm/Input.types.d.ts
  client/Components/ModalForm/InputColumn.tsx
  client/Components/ModalForm/InputColumn.types.d.ts
  client/Components/ModalForm/Label.tsx
  client/Components/ModalForm/Label.types.d.ts
  client/Components/ModalForm/index.tsx
  client/Components/ModalForm/index.types.d.ts
  client/Components/RecipeCard.tsx
  client/Components/RecipeCard.types.d.ts
  client/Components/RecipeCollection.css
  client/Components/RecipeCollection.tsx
  client/Components/RecipeCollection.types.d.ts
  client/Components/RecipeLink.tsx
  client/Components/RecipeLink.types.d.ts
  client/Components/TopBar/User/LogReg.tsx
  client/Components/TopBar/User/index.css
  client/Components/TopBar/User/index.tsx
  client/Components/TopBar/User/index.types.d.ts
  client/Components/types.d.ts
  public/styles.css
Due: eslint --fix, tsc-files --noEmit

style(Components): prefix TopBar subcomponent classes & types with TopBar
  client/Components/TopBar/Link.tsx
  client/Components/TopBar/Link.types.d.ts
  client/Components/TopBar/Logo.tsx
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/SearchBar.types.d.ts
  client/Components/TopBar/User/LogReg.tsx
  client/Components/TopBar/User/index.tsx
  client/Components/TopBar/User/index.types.d.ts
  client/Components/TopBar/index.tsx
Due: eslint --fix, tsc-files --noEmit

feat(Components): add LogReg register modal
  client/Components/ModalForm/Input.tsx
  client/Components/ModalForm/Input.types.d.ts
  client/Components/ModalForm/InputColumn.tsx
  client/Components/ModalForm/index.tsx
  client/Components/ModalForm/index.types.d.ts
  client/Components/NavTabs.tsx
  client/Components/NavTabs.types.d.ts
  client/Components/TopBar/User/LogReg.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add registration
  client/Components/Alert.css
  client/Components/Alert.tsx
  client/Components/Alert.types.d.ts
  client/Components/ModalForm/index.tsx
  client/Components/ModalForm/index.types.d.ts
  client/Components/TopBar/SearchBar.tsx
  client/Components/TopBar/User/LogReg.tsx
  client/Components/TopBar/User/LogReg.types.d.ts
  client/requests/helpers.ts
  client/requests/users.requests.ts
  client/requests/users.types.d.ts
  server/connections/server.ts
  server/db/recipe.db.ts
  server/db/recipe.types.d.ts
  server/db/user.db.ts
  server/db/user.types.d.ts
  server/routers/api.router.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/routers/types.d.ts
  server/routers/users.router.ts
  server/routers/users.types.d.ts
  server/validation/helpers.ts
  server/validation/index.ts
  server/validation/recipes.validation.ts
  server/validation/users.validation.ts
Due: eslint --fix, tsc-files --noEmit

feat+refactor(User Model): change username from rangeKey to index; add getPasswordByUsername
  server/db/Models/User.ts
  server/db/Models/User.types.d.ts
  server/db/saved-recipe.db.ts
  server/db/user.db.ts
  server/db/user.types.d.ts
Due: eslint --fix, tsc-files --noEmit

feat: add login
  .env.example
  client/Components/Alert.tsx
  client/Components/Alert.types.d.ts
  client/Components/TopBar/User/LogReg.tsx
  client/Components/TopBar/User/LogReg.types.d.ts
  client/pages/recipe.tsx
  client/pages/search.tsx
  client/requests/helpers.ts
  client/requests/recipes.requests.ts
  client/requests/users.requests.ts
  client/requests/users.types.d.ts
  package.json
  server/configs/index.ts
  server/configs/secrets-manager.config.ts
  server/connections/index.ts
  server/connections/secrets-manager.ts
  server/db/user.db.ts
  server/routers/users.router.ts
  server/routers/users.types.d.ts
  server/validation/users.validation.ts
  yarn.lock
Due: prettier --write, eslint --fix, tsc-files --noEmit

refactor(client url helpers): change recipe-images url & add objToQuery helper
  client/helpers.ts
Due: eslint --fix, tsc-files --noEmit

chore: remove action comments
  public/index.html
  public/recipe.html
  public/search.html
Due: none

style(Components): adjust titles
  client/Components/Section.tsx
  client/Components/TopBar/User/index.tsx
Due: none

feat: add jwt refresh token & logout
  client/Components/Modal/Close.tsx
  client/Components/Modal/Close.types.d.ts
  client/Components/Modal/Form/Column.tsx
  client/Components/Modal/Form/Column.types.d.ts
  client/Components/Modal/Form/Input.tsx
  client/Components/Modal/Form/Input.types.d.ts
  client/Components/Modal/Form/InputColumn.tsx
  client/Components/Modal/Form/InputColumn.types.d.ts
  client/Components/Modal/Form/Label.tsx
  client/Components/Modal/Form/Label.types.d.ts
  client/Components/Modal/Form/index.tsx
  client/Components/Modal/Form/index.types.d.ts
  client/Components/TopBar/User/LogReg.tsx
  client/Components/TopBar/User/LogReg.types.d.ts
  client/Components/TopBar/User/Logout.tsx
  client/Components/TopBar/User/Logout.types.d.ts
  client/Components/TopBar/User/index.tsx
  client/Components/TopBar/User/index.types.d.ts
  client/helpers.ts
  client/requests/users.requests.ts
  server/NextError.ts
  server/connections/secrets-manager.ts
  server/connections/types.d.ts
  server/routers/helpers.ts
  server/routers/users.router.ts
Due: eslint --fix, tsc-files --noEmit

style(console): change logging levels
  server/connections/server.ts
  server/index.ts
Due: eslint --fix, tsc-files --noEmit

refactor(recipe): change name from rangeKey to index
  client/Components/RecipeCollection/Card.tsx
  client/Components/RecipeCollection/Card.types.d.ts
  client/helpers.ts
  client/pages/recipe.tsx
  client/requests/recipes.requests.ts
  client/requests/recipes.types.d.ts
  server/db/Models/Recipe.ts
  server/db/Models/Recipe.types.d.ts
  server/db/Models/helpers.ts
  server/db/saved-recipe.db.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/validation/recipes.validation.ts
Due: eslint --fix, tsc-files --noEmit

feat: add Reviews
  client/Components/AddReview.tsx
  client/Components/AddReview.types.d.ts
  client/Components/Rating.css
  client/Components/Rating.tsx
  client/Components/Rating.types.d.ts
  client/pages/recipe.css
  client/pages/recipe.tsx
  client/requests/helpers.ts
  client/requests/reviews.types.d.ts
  client/requests/types.d.ts
  client/requests/users.requests.ts
  public/images/stars.svg
  server/db/Models/Review.types.d.ts
  server/db/review.db.ts
  server/routers/recipes.router.ts
  server/routers/recipes.types.d.ts
  server/routers/users.router.ts
  server/routers/users.types.d.ts
  server/validation/helpers.ts
  server/validation/index.ts
  server/validation/recipes.validation.ts
  server/validation/reviews.validation.ts
Due: eslint --fix, tsc-files --noEmit

Path conditions:
  prettier --write: any of: *.json
  eslint --fix: any of: *.ts
  tsc-files --noEmit: any of: *.ts
